---
import { SEO } from "astro-seo";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.png",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "CapitalizmVC"
  : "Capitalizm - Venture with high passion to fully support the blockchain industry, build teamwork, grow, fund and develop together!";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="CapitalizmVC - is a Venture with high passion to fully support the blockchain industry build teamwork, grow, fund and develop together!"
      canonical={canonicalURL}
      twitter={{
        creator: "@Snocky29",
        site: "@capitalizmvc",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `CapitalizmVC - Passionate Venture to support teams`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "CapitalizmVC Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
